.newTaskForm{
    width: 50%;
}

.newTaskForm--form{
    display: flex;
    justify-content: space-between;
}

.newTaskForm--form .newTaskForm-input{
    width: 80%;
    padding: 0 20px;
    display: flex;
}
.newTaskForm--form .newTaskForm-input input[type="text"]{
    width: 90%;
    padding: 0 20px;
}


.newTaskForm--form .newTaskForm-button{
    width: 20%;
}

.newTaskForm--form .newTaskForm-button button{
    width: 80px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
}

.newTaskForm--form .newTaskForm-button button:hover{
    background-color: red;
    color: white;
}

/* .valid{
    font-size: 25px;
} */